/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el fondo de la página */
body {
    background-image: url('../img/m.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Estilo para el contenedor del formulario */
.form-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
}

/* Estilo para el título del formulario */
h1 {
    color: #333;
}

/* Estilo para las etiquetas de los campos de entrada */
label {
    display: block;
    margin-top: 10px;
    color: #333;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgb(17, 86, 117);
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgb(92, 19, 19);
	color: #fff
}

/* Estilo para la imagen encima del formulario */
.small-image {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
